# Copyright 2023-2024 Dyne.org foundation
# SPDX-FileCopyrightText: 2023-2024 Dyne.org foundation
#
# SPDX-License-Identifier: GPL-3.0-or-later

# stop search for .editorconfig in parent directories
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[**/*.[ch]]
indent_style = tab
indent_size = 4

[GNUMakefile]
indent_style = tab
indent_size = 4

[test/*.bats]
indent_style = space
indent_size = 4
